.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    list-style: none;
}

.option1 {
    background-color: #ffffff;
    border-color: rgb(192, 192, 192);
    border-radius: 10px;
    border-width: 0.5px;
    border-style: solid;
    padding: 20px;
    margin: 20px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 40px 80px 0 rgba(0,0,0,0.2);
}

.option2 {
    background-color: #ffffff;
    border-color: rgb(192, 192, 192);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-width: 0.5px;
    border-style: solid;
    padding: 20px;
    margin: 20px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    border-radius: 60px;
    padding: 20px;
}

h1 {
    font-size: 400%;
}

p {
    color: gray;
}

.non-second-cards {
    text-align: center;
}

.black-button {
    background: linear-gradient(0deg,rgba(42, 123, 155, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 100%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    filter:brightness(100%);
    box-shadow: 0px;
    transition: filter 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.black-button:hover {
    filter:brightness(140%);
    box-shadow: 10px;
    transition: filter 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.max-width-80-perc {
    max-width: 70%;
    margin: 25px auto;
}

.price-size-and-color {
    color: black;
    font-size: 40px;
}

.white-button {
    background: white;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: border-color 0.1s ease-in-out;
}

.white-button:hover {
    border-color: black;
    transition: border-color 0.1s ease-in-out;
}

.button-container {
  display: flex;
  gap: 10px; 
  justify-content: center; 
}

.recommended {
    background:rgb(71, 71, 255);
    border-radius: 10px;
    padding: 0.02rem;
    margin-top: 20px;
    position: relative;
    bottom:33px;
}

.option2:hover {
    transform: scale(1.1);
    cursor: pointer;
}